.special {
   color: red;
}

.special2 {
   background: black;
}

a{
   color: black;
}

section a {
   color: green;
}

.container {
   color: orange;
}



nav li a {
   color: magenta;
}


div {
   background: red;
   height: 100px;
   width: 300px;
   display: inline-block;
}

span{
   background:greenyellow;
   height: 100px;
   width: 300px;
   display: block
}