body {
   background-color:rgb(202, 241, 248);
   text-align: center;
}

.writing{
   font-family: Arial;
   font-size: 20px;
   color: #666666;
   text-align: center;
}

h1 {
   color: rgb(100, 41, 236);
   font-family: 'Times New Roman', Times, serif;
   font-size: 64px;
   border-bottom-style: dotted;
   border-width: 10px;
   border-bottom-color: aquamarine;
   text-align: center;
}

.picture {
      border-radius: 20px;
}

.box {
   background-color: white;
   width: 600px;
   height: 15px;
   border: 20px ridge grey;
   padding-top: 50px;
   padding-right: 10px;
   padding-bottom: 50px;
   padding-left: 10px;
   margin: 10px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

div {
   width: 100px;
   height: 100px;
   background-color: rgb(194, 197, 238);
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
 }
 
 @keyframes example {
   from {background-color: rgb(194, 197, 238);} 
   to {background-color: white;}
 }
