
body {
   background-color:#e6f1fb;
}

p {
   color: #0b2948;
   font-family: 'century gothic';
   font-size: 18px;
   padding-left: 50px;
   padding-right: 50px;
   line-height: 30px;
}

.header {
   padding-top: 125px;
   padding-bottom: 30px;
   text-align: center;
   color: #103d6a;
   font-family: 'freestyle script';
   font-size: 64px;
 }

 .header2 {
   padding-top: 30px;
   padding-bottom: 15px;
   text-align: center;
   color: #103d6a;
   font-family: 'freestyle script';
   font-size: 50px; 
 }

 footer {
   color: #0b2948;
   font-family: 'century gothic';
   font-size: 12px;
   padding-left: 50px;
   padding-right: 50px;
   line-height: 30px;
} 
 
 
 .coverphoto {
   border-radius: 200px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#navbar {
   overflow: hidden;
   background-color: #cad9e8;
   position: fixed;
   top: 0;
   width: 105%;
}

#navbar a  {
   float: left;
   display: block;
   color: #589fe6;
   text-align: center;
   padding: 20px 20px;
   text-decoration: none;
   font-size: 18px;
   font-family: 'century gothic';
}

#navbar a:hover {
   background-color: #d0e4f8;
   color: #0b2948;
 }

 #navbar a.active {
   background-color: #589fe6;
   color: white;
 }
